Source: brew-taskselector
Section: metapackages
Priority: optional
Maintainer: c00clupea <c00clupea@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://github.com/BrewLinux/brew-taskselector.git 
Vcs-Browser: https://github.com/BrewLinux/brew-taskselector.git 

Package: brew-taskselector
Architecture: any
Depends: tasksel,
	 ${misc:Depends}
Description: Overwrites the standard tasksel
 Overwrite the standard tasksel
